<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://lorempixel.com/900/900/food/');">
  <div class="banner-content">
    <h1><%= @cocktail.name %></h1>
    <p>
      <i class="fa fa-lemon-o" aria-hidden="true"></i>
      <%= @cocktail.ingredients.count %> ingredient(s)
    </p>
    <p>
      <i class="fa fa-list" aria-hidden="true"></i>
      <%= @cocktail.doses.count %> dose(s)
    </p>
  </div>
</div>

<div class="container">
  <h2><%= @cocktail.name %></h2>
  <h3>Follow the doses:</h3>

  <ul>
    <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.ingredient.name %> - <%= dose.description %>
      -
      <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure to delete this dose?" }%>
    </li>
    <% end %>
  </ul>
</div>

<div class="review-background">
  <div class="container padded" id="add_review">
    <h4>Add a new dose</h4>
    <% if @dose.errors.any? %>
    <ul>
      <% @dose.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
      <% end %>
    </ul>
    <% end %>

    <%= simple_form_for([@cocktail, @dose], html: { class: 'form-horizontal' }) do |f| %>
      <%= f.error_notification %>
      <%= f.input :ingredient, collection: @ingredients, include_blank: false %>
      <%= f.input :description %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>




